<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Euro</key>
	<string>Euro_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>asa_ba</key>
	<string>asa_ba.glif</string>
	<key>asa_ba.half</key>
	<string>asa_ba.half.glif</string>
	<key>asa_ba_ukaar</key>
	<string>asa_ba_ukaar.glif</string>
	<key>asa_ba_uukaar</key>
	<string>asa_ba_uukaar.glif</string>
	<key>asa_ra</key>
	<string>asa_ra.glif</string>
	<key>asa_ra.half</key>
	<string>asa_ra.half.glif</string>
	<key>asa_ra_ukaar</key>
	<string>asa_ra_ukaar.glif</string>
	<key>asa_ra_uukaar</key>
	<string>asa_ra_uukaar.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>bn_a</key>
	<string>bn_a.glif</string>
	<key>bn_aa</key>
	<string>bn_aa.glif</string>
	<key>bn_aakaar</key>
	<string>bn_aakaar.glif</string>
	<key>bn_aakaar.b</key>
	<string>bn_aakaar.b.glif</string>
	<key>bn_ai</key>
	<string>bn_ai.glif</string>
	<key>bn_aikaar</key>
	<string>bn_aikaar.glif</string>
	<key>bn_aikaar.init</key>
	<string>bn_aikaar.init.glif</string>
	<key>bn_anusvar</key>
	<string>bn_anusvar.glif</string>
	<key>bn_au</key>
	<string>bn_au.glif</string>
	<key>bn_aukaar</key>
	<string>bn_aukaar.glif</string>
	<key>bn_aumark</key>
	<string>bn_aumark.glif</string>
	<key>bn_aumark_reph</key>
	<string>bn_aumark_reph.glif</string>
	<key>bn_avagraha</key>
	<string>bn_avagraha.glif</string>
	<key>bn_b_ba</key>
	<string>bn_b_ba.glif</string>
	<key>bn_b_bha</key>
	<string>bn_b_bha.glif</string>
	<key>bn_b_da</key>
	<string>bn_b_da.glif</string>
	<key>bn_b_da_ukaar</key>
	<string>bn_b_da_ukaar.glif</string>
	<key>bn_b_da_uukaar</key>
	<string>bn_b_da_uukaar.glif</string>
	<key>bn_b_dha</key>
	<string>bn_b_dha.glif</string>
	<key>bn_b_ja</key>
	<string>bn_b_ja.glif</string>
	<key>bn_b_la</key>
	<string>bn_b_la.glif</string>
	<key>bn_b_ra</key>
	<string>bn_b_ra.glif</string>
	<key>bn_b_ra_ukaar</key>
	<string>bn_b_ra_ukaar.glif</string>
	<key>bn_b_ra_uukaar</key>
	<string>bn_b_ra_uukaar.glif</string>
	<key>bn_ba</key>
	<string>bn_ba.glif</string>
	<key>bn_ba.half</key>
	<string>bn_ba.half.glif</string>
	<key>bn_ba_phala</key>
	<string>bn_ba_phala.glif</string>
	<key>bn_bh_la</key>
	<string>bn_bh_la.glif</string>
	<key>bn_bh_ra</key>
	<string>bn_bh_ra.glif</string>
	<key>bn_bh_ra_ukaar</key>
	<string>bn_bh_ra_ukaar.glif</string>
	<key>bn_bh_ra_uukaar</key>
	<string>bn_bh_ra_uukaar.glif</string>
	<key>bn_bha</key>
	<string>bn_bha.glif</string>
	<key>bn_bha.half</key>
	<string>bn_bha.half.glif</string>
	<key>bn_bisarga</key>
	<string>bn_bisarga.glif</string>
	<key>bn_c_ca</key>
	<string>bn_c_ca.glif</string>
	<key>bn_c_ch_ba</key>
	<string>bn_c_ch_ba.glif</string>
	<key>bn_c_ch_ra</key>
	<string>bn_c_ch_ra.glif</string>
	<key>bn_c_cha</key>
	<string>bn_c_cha.glif</string>
	<key>bn_c_nya</key>
	<string>bn_c_nya.glif</string>
	<key>bn_c_ra</key>
	<string>bn_c_ra.glif</string>
	<key>bn_ca</key>
	<string>bn_ca.glif</string>
	<key>bn_ca.half</key>
	<string>bn_ca.half.glif</string>
	<key>bn_ch_ba</key>
	<string>bn_ch_ba.glif</string>
	<key>bn_ch_ra</key>
	<string>bn_ch_ra.glif</string>
	<key>bn_cha</key>
	<string>bn_cha.glif</string>
	<key>bn_cha.half</key>
	<string>bn_cha.half.glif</string>
	<key>bn_chandrabindu</key>
	<string>bn_chandrabindu.glif</string>
	<key>bn_currency1</key>
	<string>bn_currency1.glif</string>
	<key>bn_currency16</key>
	<string>bn_currency16.glif</string>
	<key>bn_currency2</key>
	<string>bn_currency2.glif</string>
	<key>bn_currency3</key>
	<string>bn_currency3.glif</string>
	<key>bn_currency4</key>
	<string>bn_currency4.glif</string>
	<key>bn_currencyless</key>
	<string>bn_currencyless.glif</string>
	<key>bn_d_ba</key>
	<string>bn_d_ba.glif</string>
	<key>bn_d_bh_ra</key>
	<string>bn_d_bh_ra.glif</string>
	<key>bn_d_bha</key>
	<string>bn_d_bha.glif</string>
	<key>bn_d_d_ba</key>
	<string>bn_d_d_ba.glif</string>
	<key>bn_d_da</key>
	<string>bn_d_da.glif</string>
	<key>bn_d_dh_ba</key>
	<string>bn_d_dh_ba.glif</string>
	<key>bn_d_dha</key>
	<string>bn_d_dha.glif</string>
	<key>bn_d_ga</key>
	<string>bn_d_ga.glif</string>
	<key>bn_d_gha</key>
	<string>bn_d_gha.glif</string>
	<key>bn_d_ma</key>
	<string>bn_d_ma.glif</string>
	<key>bn_d_na</key>
	<string>bn_d_na.glif</string>
	<key>bn_d_ra</key>
	<string>bn_d_ra.glif</string>
	<key>bn_d_ra_ukaar</key>
	<string>bn_d_ra_ukaar.glif</string>
	<key>bn_d_ra_uukaar</key>
	<string>bn_d_ra_uukaar.glif</string>
	<key>bn_da</key>
	<string>bn_da.glif</string>
	<key>bn_da.half</key>
	<string>bn_da.half.glif</string>
	<key>bn_da_ukaar</key>
	<string>bn_da_ukaar.glif</string>
	<key>bn_da_uukaar</key>
	<string>bn_da_uukaar.glif</string>
	<key>bn_danda</key>
	<string>bn_danda.glif</string>
	<key>bn_dd_dda</key>
	<string>bn_dd_dda.glif</string>
	<key>bn_dd_ra</key>
	<string>bn_dd_ra.glif</string>
	<key>bn_dda</key>
	<string>bn_dda.glif</string>
	<key>bn_dda.half</key>
	<string>bn_dda.half.glif</string>
	<key>bn_ddh_ra</key>
	<string>bn_ddh_ra.glif</string>
	<key>bn_ddha</key>
	<string>bn_ddha.glif</string>
	<key>bn_ddha.half</key>
	<string>bn_ddha.half.glif</string>
	<key>bn_dh_ba</key>
	<string>bn_dh_ba.glif</string>
	<key>bn_dh_na</key>
	<string>bn_dh_na.glif</string>
	<key>bn_dh_ra</key>
	<string>bn_dh_ra.glif</string>
	<key>bn_dh_ra_ukaar</key>
	<string>bn_dh_ra_ukaar.glif</string>
	<key>bn_dh_ra_uukaar</key>
	<string>bn_dh_ra_uukaar.glif</string>
	<key>bn_dha</key>
	<string>bn_dha.glif</string>
	<key>bn_dha.half</key>
	<string>bn_dha.half.glif</string>
	<key>bn_doubledanda</key>
	<string>bn_doubledanda.glif</string>
	<key>bn_e</key>
	<string>bn_e.glif</string>
	<key>bn_eight</key>
	<string>bn_eight.glif</string>
	<key>bn_eight.pnum</key>
	<string>bn_eight.pnum.glif</string>
	<key>bn_ekaar</key>
	<string>bn_ekaar.glif</string>
	<key>bn_ekaar.b</key>
	<string>bn_ekaar.b.glif</string>
	<key>bn_ekaar.init</key>
	<string>bn_ekaar.init.glif</string>
	<key>bn_five</key>
	<string>bn_five.glif</string>
	<key>bn_five.pnum</key>
	<string>bn_five.pnum.glif</string>
	<key>bn_four</key>
	<string>bn_four.glif</string>
	<key>bn_four.pnum</key>
	<string>bn_four.pnum.glif</string>
	<key>bn_g_ba</key>
	<string>bn_g_ba.glif</string>
	<key>bn_g_da</key>
	<string>bn_g_da.glif</string>
	<key>bn_g_dh_ba</key>
	<string>bn_g_dh_ba.glif</string>
	<key>bn_g_dh_ra</key>
	<string>bn_g_dh_ra.glif</string>
	<key>bn_g_dha</key>
	<string>bn_g_dha.glif</string>
	<key>bn_g_ga</key>
	<string>bn_g_ga.glif</string>
	<key>bn_g_la</key>
	<string>bn_g_la.glif</string>
	<key>bn_g_ma</key>
	<string>bn_g_ma.glif</string>
	<key>bn_g_na</key>
	<string>bn_g_na.glif</string>
	<key>bn_g_ra</key>
	<string>bn_g_ra.glif</string>
	<key>bn_g_ra_ukaar</key>
	<string>bn_g_ra_ukaar.glif</string>
	<key>bn_g_ra_uukaar</key>
	<string>bn_g_ra_uukaar.glif</string>
	<key>bn_ga</key>
	<string>bn_ga.glif</string>
	<key>bn_ga.half</key>
	<string>bn_ga.half.glif</string>
	<key>bn_ga_ukaar</key>
	<string>bn_ga_ukaar.glif</string>
	<key>bn_gh_ba</key>
	<string>bn_gh_ba.glif</string>
	<key>bn_gh_na</key>
	<string>bn_gh_na.glif</string>
	<key>bn_gh_ra</key>
	<string>bn_gh_ra.glif</string>
	<key>bn_gha</key>
	<string>bn_gha.glif</string>
	<key>bn_gha.half</key>
	<string>bn_gha.half.glif</string>
	<key>bn_h_ba</key>
	<string>bn_h_ba.glif</string>
	<key>bn_h_la</key>
	<string>bn_h_la.glif</string>
	<key>bn_h_ma</key>
	<string>bn_h_ma.glif</string>
	<key>bn_h_na</key>
	<string>bn_h_na.glif</string>
	<key>bn_h_nna</key>
	<string>bn_h_nna.glif</string>
	<key>bn_h_ra</key>
	<string>bn_h_ra.glif</string>
	<key>bn_h_yya</key>
	<string>bn_h_yya.glif</string>
	<key>bn_ha</key>
	<string>bn_ha.glif</string>
	<key>bn_ha.half</key>
	<string>bn_ha.half.glif</string>
	<key>bn_ha_rikaar</key>
	<string>bn_ha_rikaar.glif</string>
	<key>bn_ha_ukaar</key>
	<string>bn_ha_ukaar.glif</string>
	<key>bn_halanth</key>
	<string>bn_halanth.glif</string>
	<key>bn_i</key>
	<string>bn_i.glif</string>
	<key>bn_ii</key>
	<string>bn_ii.glif</string>
	<key>bn_iikaar</key>
	<string>bn_iikaar.glif</string>
	<key>bn_iikaar.b</key>
	<string>bn_iikaar.b.glif</string>
	<key>bn_iikaar.fl</key>
	<string>bn_iikaar.fl.glif</string>
	<key>bn_iikaar.fl.b</key>
	<string>bn_iikaar.fl.b.glif</string>
	<key>bn_iikaar_reph</key>
	<string>bn_iikaar_reph.glif</string>
	<key>bn_iikaar_wi1</key>
	<string>bn_iikaar_wi1.glif</string>
	<key>bn_iikaar_wi1.b</key>
	<string>bn_iikaar_wi1.b.glif</string>
	<key>bn_iikaar_wi2</key>
	<string>bn_iikaar_wi2.glif</string>
	<key>bn_iikaar_wi2.b</key>
	<string>bn_iikaar_wi2.b.glif</string>
	<key>bn_ikaar</key>
	<string>bn_ikaar.glif</string>
	<key>bn_ikaar.b</key>
	<string>bn_ikaar.b.glif</string>
	<key>bn_ikaar.fl</key>
	<string>bn_ikaar.fl.glif</string>
	<key>bn_ikaar.fl.b</key>
	<string>bn_ikaar.fl.b.glif</string>
	<key>bn_ikaar_wi1</key>
	<string>bn_ikaar_wi1.glif</string>
	<key>bn_ikaar_wi1.b</key>
	<string>bn_ikaar_wi1.b.glif</string>
	<key>bn_ikaar_wi2</key>
	<string>bn_ikaar_wi2.glif</string>
	<key>bn_ikaar_wi2.b</key>
	<string>bn_ikaar_wi2.b.glif</string>
	<key>bn_isshar</key>
	<string>bn_isshar.glif</string>
	<key>bn_j_ba</key>
	<string>bn_j_ba.glif</string>
	<key>bn_j_j_ba</key>
	<string>bn_j_j_ba.glif</string>
	<key>bn_j_ja</key>
	<string>bn_j_ja.glif</string>
	<key>bn_j_jha</key>
	<string>bn_j_jha.glif</string>
	<key>bn_j_nya</key>
	<string>bn_j_nya.glif</string>
	<key>bn_j_nya.half</key>
	<string>bn_j_nya.half.glif</string>
	<key>bn_j_ra</key>
	<string>bn_j_ra.glif</string>
	<key>bn_ja</key>
	<string>bn_ja.glif</string>
	<key>bn_ja.half</key>
	<string>bn_ja.half.glif</string>
	<key>bn_jh_ra</key>
	<string>bn_jh_ra.glif</string>
	<key>bn_jha</key>
	<string>bn_jha.glif</string>
	<key>bn_jha.half</key>
	<string>bn_jha.half.glif</string>
	<key>bn_k_ba</key>
	<string>bn_k_ba.glif</string>
	<key>bn_k_ka</key>
	<string>bn_k_ka.glif</string>
	<key>bn_k_la</key>
	<string>bn_k_la.glif</string>
	<key>bn_k_ma</key>
	<string>bn_k_ma.glif</string>
	<key>bn_k_na</key>
	<string>bn_k_na.glif</string>
	<key>bn_k_ra</key>
	<string>bn_k_ra.glif</string>
	<key>bn_k_ra.alt01</key>
	<string>bn_k_ra.alt01.glif</string>
	<key>bn_k_sa</key>
	<string>bn_k_sa.glif</string>
	<key>bn_k_ss_ba</key>
	<string>bn_k_ss_ba.glif</string>
	<key>bn_k_ss_ma</key>
	<string>bn_k_ss_ma.glif</string>
	<key>bn_k_ss_nna</key>
	<string>bn_k_ss_nna.glif</string>
	<key>bn_k_ss_ra</key>
	<string>bn_k_ss_ra.glif</string>
	<key>bn_k_ssa</key>
	<string>bn_k_ssa.glif</string>
	<key>bn_k_ssa.half</key>
	<string>bn_k_ssa.half.glif</string>
	<key>bn_k_t_ba</key>
	<string>bn_k_t_ba.glif</string>
	<key>bn_k_t_ra</key>
	<string>bn_k_t_ra.glif</string>
	<key>bn_k_ta</key>
	<string>bn_k_ta.glif</string>
	<key>bn_k_tt_ra</key>
	<string>bn_k_tt_ra.glif</string>
	<key>bn_k_tta</key>
	<string>bn_k_tta.glif</string>
	<key>bn_ka</key>
	<string>bn_ka.glif</string>
	<key>bn_ka.half</key>
	<string>bn_ka.half.glif</string>
	<key>bn_kh_ba</key>
	<string>bn_kh_ba.glif</string>
	<key>bn_kh_ra</key>
	<string>bn_kh_ra.glif</string>
	<key>bn_kha</key>
	<string>bn_kha.glif</string>
	<key>bn_kha.half</key>
	<string>bn_kha.half.glif</string>
	<key>bn_khanda_ta</key>
	<string>bn_khanda_ta.glif</string>
	<key>bn_l_ba</key>
	<string>bn_l_ba.glif</string>
	<key>bn_l_da</key>
	<string>bn_l_da.glif</string>
	<key>bn_l_dda</key>
	<string>bn_l_dda.glif</string>
	<key>bn_l_ga</key>
	<string>bn_l_ga.glif</string>
	<key>bn_l_ga_ukaar</key>
	<string>bn_l_ga_ukaar.glif</string>
	<key>bn_l_ka</key>
	<string>bn_l_ka.glif</string>
	<key>bn_l_la</key>
	<string>bn_l_la.glif</string>
	<key>bn_l_ma</key>
	<string>bn_l_ma.glif</string>
	<key>bn_l_pa</key>
	<string>bn_l_pa.glif</string>
	<key>bn_l_pha</key>
	<string>bn_l_pha.glif</string>
	<key>bn_l_ra</key>
	<string>bn_l_ra.glif</string>
	<key>bn_l_sa</key>
	<string>bn_l_sa.glif</string>
	<key>bn_l_tta</key>
	<string>bn_l_tta.glif</string>
	<key>bn_la</key>
	<string>bn_la.glif</string>
	<key>bn_la.half</key>
	<string>bn_la.half.glif</string>
	<key>bn_li</key>
	<string>bn_li.glif</string>
	<key>bn_likaar</key>
	<string>bn_likaar.glif</string>
	<key>bn_lli</key>
	<string>bn_lli.glif</string>
	<key>bn_llikaar</key>
	<string>bn_llikaar.glif</string>
	<key>bn_m_ba</key>
	<string>bn_m_ba.glif</string>
	<key>bn_m_bh_ra</key>
	<string>bn_m_bh_ra.glif</string>
	<key>bn_m_bha</key>
	<string>bn_m_bha.glif</string>
	<key>bn_m_la</key>
	<string>bn_m_la.glif</string>
	<key>bn_m_ma</key>
	<string>bn_m_ma.glif</string>
	<key>bn_m_na</key>
	<string>bn_m_na.glif</string>
	<key>bn_m_p_ra</key>
	<string>bn_m_p_ra.glif</string>
	<key>bn_m_pa</key>
	<string>bn_m_pa.glif</string>
	<key>bn_m_pha</key>
	<string>bn_m_pha.glif</string>
	<key>bn_m_ra</key>
	<string>bn_m_ra.glif</string>
	<key>bn_ma</key>
	<string>bn_ma.glif</string>
	<key>bn_ma.half</key>
	<string>bn_ma.half.glif</string>
	<key>bn_n_ba</key>
	<string>bn_n_ba.glif</string>
	<key>bn_n_d_ba</key>
	<string>bn_n_d_ba.glif</string>
	<key>bn_n_d_ra</key>
	<string>bn_n_d_ra.glif</string>
	<key>bn_n_da</key>
	<string>bn_n_da.glif</string>
	<key>bn_n_dd_ra</key>
	<string>bn_n_dd_ra.glif</string>
	<key>bn_n_dda</key>
	<string>bn_n_dda.glif</string>
	<key>bn_n_dh_ba</key>
	<string>bn_n_dh_ba.glif</string>
	<key>bn_n_dh_ra</key>
	<string>bn_n_dh_ra.glif</string>
	<key>bn_n_dha</key>
	<string>bn_n_dha.glif</string>
	<key>bn_n_jha</key>
	<string>bn_n_jha.glif</string>
	<key>bn_n_k_ta</key>
	<string>bn_n_k_ta.glif</string>
	<key>bn_n_ma</key>
	<string>bn_n_ma.glif</string>
	<key>bn_n_na</key>
	<string>bn_n_na.glif</string>
	<key>bn_n_ra</key>
	<string>bn_n_ra.glif</string>
	<key>bn_n_sa</key>
	<string>bn_n_sa.glif</string>
	<key>bn_n_t_ba</key>
	<string>bn_n_t_ba.glif</string>
	<key>bn_n_t_ra</key>
	<string>bn_n_t_ra.glif</string>
	<key>bn_n_ta</key>
	<string>bn_n_ta.glif</string>
	<key>bn_n_tha</key>
	<string>bn_n_tha.glif</string>
	<key>bn_n_tt_ra</key>
	<string>bn_n_tt_ra.glif</string>
	<key>bn_n_tta</key>
	<string>bn_n_tta.glif</string>
	<key>bn_n_ttha</key>
	<string>bn_n_ttha.glif</string>
	<key>bn_na</key>
	<string>bn_na.glif</string>
	<key>bn_na.half</key>
	<string>bn_na.half.glif</string>
	<key>bn_ng_g_ra</key>
	<string>bn_ng_g_ra.glif</string>
	<key>bn_ng_ga</key>
	<string>bn_ng_ga.glif</string>
	<key>bn_ng_gh_ra</key>
	<string>bn_ng_gh_ra.glif</string>
	<key>bn_ng_gha</key>
	<string>bn_ng_gha.glif</string>
	<key>bn_ng_k_ra</key>
	<string>bn_ng_k_ra.glif</string>
	<key>bn_ng_k_ss_ra</key>
	<string>bn_ng_k_ss_ra.glif</string>
	<key>bn_ng_k_ssa</key>
	<string>bn_ng_k_ssa.glif</string>
	<key>bn_ng_ka</key>
	<string>bn_ng_ka.glif</string>
	<key>bn_ng_kha</key>
	<string>bn_ng_kha.glif</string>
	<key>bn_ng_ma</key>
	<string>bn_ng_ma.glif</string>
	<key>bn_ng_ra</key>
	<string>bn_ng_ra.glif</string>
	<key>bn_nga</key>
	<string>bn_nga.glif</string>
	<key>bn_nga.half</key>
	<string>bn_nga.half.glif</string>
	<key>bn_nine</key>
	<string>bn_nine.glif</string>
	<key>bn_nine.pnum</key>
	<string>bn_nine.pnum.glif</string>
	<key>bn_nn_ba</key>
	<string>bn_nn_ba.glif</string>
	<key>bn_nn_dd_ra</key>
	<string>bn_nn_dd_ra.glif</string>
	<key>bn_nn_dda</key>
	<string>bn_nn_dda.glif</string>
	<key>bn_nn_dda.alt01</key>
	<string>bn_nn_dda.alt01.glif</string>
	<key>bn_nn_ddha</key>
	<string>bn_nn_ddha.glif</string>
	<key>bn_nn_ma</key>
	<string>bn_nn_ma.glif</string>
	<key>bn_nn_nna</key>
	<string>bn_nn_nna.glif</string>
	<key>bn_nn_ra</key>
	<string>bn_nn_ra.glif</string>
	<key>bn_nn_tta</key>
	<string>bn_nn_tta.glif</string>
	<key>bn_nn_ttha</key>
	<string>bn_nn_ttha.glif</string>
	<key>bn_nna</key>
	<string>bn_nna.glif</string>
	<key>bn_nna.half</key>
	<string>bn_nna.half.glif</string>
	<key>bn_nukta</key>
	<string>bn_nukta.glif</string>
	<key>bn_ny_ca</key>
	<string>bn_ny_ca.glif</string>
	<key>bn_ny_cha</key>
	<string>bn_ny_cha.glif</string>
	<key>bn_ny_ja</key>
	<string>bn_ny_ja.glif</string>
	<key>bn_ny_jha</key>
	<string>bn_ny_jha.glif</string>
	<key>bn_ny_ra</key>
	<string>bn_ny_ra.glif</string>
	<key>bn_nya</key>
	<string>bn_nya.glif</string>
	<key>bn_nya.half</key>
	<string>bn_nya.half.glif</string>
	<key>bn_o</key>
	<string>bn_o.glif</string>
	<key>bn_okaar</key>
	<string>bn_okaar.glif</string>
	<key>bn_one</key>
	<string>bn_one.glif</string>
	<key>bn_one.pnum</key>
	<string>bn_one.pnum.glif</string>
	<key>bn_p_la</key>
	<string>bn_p_la.glif</string>
	<key>bn_p_na</key>
	<string>bn_p_na.glif</string>
	<key>bn_p_pa</key>
	<string>bn_p_pa.glif</string>
	<key>bn_p_ra</key>
	<string>bn_p_ra.glif</string>
	<key>bn_p_ra_ukaar</key>
	<string>bn_p_ra_ukaar.glif</string>
	<key>bn_p_ra_uukaar</key>
	<string>bn_p_ra_uukaar.glif</string>
	<key>bn_p_sa</key>
	<string>bn_p_sa.glif</string>
	<key>bn_p_t_ra</key>
	<string>bn_p_t_ra.glif</string>
	<key>bn_p_ta</key>
	<string>bn_p_ta.glif</string>
	<key>bn_p_tta</key>
	<string>bn_p_tta.glif</string>
	<key>bn_pa</key>
	<string>bn_pa.glif</string>
	<key>bn_pa.half</key>
	<string>bn_pa.half.glif</string>
	<key>bn_ph_la</key>
	<string>bn_ph_la.glif</string>
	<key>bn_ph_ra</key>
	<string>bn_ph_ra.glif</string>
	<key>bn_ph_tta</key>
	<string>bn_ph_tta.glif</string>
	<key>bn_pha</key>
	<string>bn_pha.glif</string>
	<key>bn_pha.half</key>
	<string>bn_pha.half.glif</string>
	<key>bn_ra</key>
	<string>bn_ra.glif</string>
	<key>bn_ra.half</key>
	<string>bn_ra.half.glif</string>
	<key>bn_ra_phala</key>
	<string>bn_ra_phala.glif</string>
	<key>bn_ra_ukaar</key>
	<string>bn_ra_ukaar.glif</string>
	<key>bn_ra_uukaar</key>
	<string>bn_ra_uukaar.glif</string>
	<key>bn_reph</key>
	<string>bn_reph.glif</string>
	<key>bn_rha</key>
	<string>bn_rha.glif</string>
	<key>bn_rha.half</key>
	<string>bn_rha.half.glif</string>
	<key>bn_ri</key>
	<string>bn_ri.glif</string>
	<key>bn_rikaar</key>
	<string>bn_rikaar.glif</string>
	<key>bn_rr_ga</key>
	<string>bn_rr_ga.glif</string>
	<key>bn_rra</key>
	<string>bn_rra.glif</string>
	<key>bn_rra.half</key>
	<string>bn_rra.half.glif</string>
	<key>bn_rri</key>
	<string>bn_rri.glif</string>
	<key>bn_rrikaar</key>
	<string>bn_rrikaar.glif</string>
	<key>bn_rupeemark</key>
	<string>bn_rupeemark.glif</string>
	<key>bn_rupeesign</key>
	<string>bn_rupeesign.glif</string>
	<key>bn_s_ba</key>
	<string>bn_s_ba.glif</string>
	<key>bn_s_k_ba</key>
	<string>bn_s_k_ba.glif</string>
	<key>bn_s_k_ra</key>
	<string>bn_s_k_ra.glif</string>
	<key>bn_s_ka</key>
	<string>bn_s_ka.glif</string>
	<key>bn_s_kha</key>
	<string>bn_s_kha.glif</string>
	<key>bn_s_la</key>
	<string>bn_s_la.glif</string>
	<key>bn_s_ma</key>
	<string>bn_s_ma.glif</string>
	<key>bn_s_na</key>
	<string>bn_s_na.glif</string>
	<key>bn_s_p_la</key>
	<string>bn_s_p_la.glif</string>
	<key>bn_s_p_ra</key>
	<string>bn_s_p_ra.glif</string>
	<key>bn_s_pa</key>
	<string>bn_s_pa.glif</string>
	<key>bn_s_pha</key>
	<string>bn_s_pha.glif</string>
	<key>bn_s_ra</key>
	<string>bn_s_ra.glif</string>
	<key>bn_s_ra_ukaar</key>
	<string>bn_s_ra_ukaar.glif</string>
	<key>bn_s_ra_uukaar</key>
	<string>bn_s_ra_uukaar.glif</string>
	<key>bn_s_t_ba</key>
	<string>bn_s_t_ba.glif</string>
	<key>bn_s_t_ra</key>
	<string>bn_s_t_ra.glif</string>
	<key>bn_s_ta</key>
	<string>bn_s_ta.glif</string>
	<key>bn_s_ta_ukaar</key>
	<string>bn_s_ta_ukaar.glif</string>
	<key>bn_s_tha</key>
	<string>bn_s_tha.glif</string>
	<key>bn_s_tt_ra</key>
	<string>bn_s_tt_ra.glif</string>
	<key>bn_s_tta</key>
	<string>bn_s_tta.glif</string>
	<key>bn_sa</key>
	<string>bn_sa.glif</string>
	<key>bn_sa.half</key>
	<string>bn_sa.half.glif</string>
	<key>bn_seven</key>
	<string>bn_seven.glif</string>
	<key>bn_seven.pnum</key>
	<string>bn_seven.pnum.glif</string>
	<key>bn_sh_ba</key>
	<string>bn_sh_ba.glif</string>
	<key>bn_sh_ca</key>
	<string>bn_sh_ca.glif</string>
	<key>bn_sh_cha</key>
	<string>bn_sh_cha.glif</string>
	<key>bn_sh_la</key>
	<string>bn_sh_la.glif</string>
	<key>bn_sh_ma</key>
	<string>bn_sh_ma.glif</string>
	<key>bn_sh_na</key>
	<string>bn_sh_na.glif</string>
	<key>bn_sh_ra</key>
	<string>bn_sh_ra.glif</string>
	<key>bn_sh_ra_iikaar</key>
	<string>bn_sh_ra_iikaar.glif</string>
	<key>bn_sh_ra_ukaar</key>
	<string>bn_sh_ra_ukaar.glif</string>
	<key>bn_sh_ra_uukaar</key>
	<string>bn_sh_ra_uukaar.glif</string>
	<key>bn_sh_tta</key>
	<string>bn_sh_tta.glif</string>
	<key>bn_sha</key>
	<string>bn_sha.glif</string>
	<key>bn_sha.half</key>
	<string>bn_sha.half.glif</string>
	<key>bn_sha_ukaar</key>
	<string>bn_sha_ukaar.glif</string>
	<key>bn_six</key>
	<string>bn_six.glif</string>
	<key>bn_six.pnum</key>
	<string>bn_six.pnum.glif</string>
	<key>bn_ss_ba</key>
	<string>bn_ss_ba.glif</string>
	<key>bn_ss_k_ra</key>
	<string>bn_ss_k_ra.glif</string>
	<key>bn_ss_ka</key>
	<string>bn_ss_ka.glif</string>
	<key>bn_ss_ma</key>
	<string>bn_ss_ma.glif</string>
	<key>bn_ss_nna</key>
	<string>bn_ss_nna.glif</string>
	<key>bn_ss_p_ra</key>
	<string>bn_ss_p_ra.glif</string>
	<key>bn_ss_pa</key>
	<string>bn_ss_pa.glif</string>
	<key>bn_ss_pha</key>
	<string>bn_ss_pha.glif</string>
	<key>bn_ss_ra</key>
	<string>bn_ss_ra.glif</string>
	<key>bn_ss_tt_ra</key>
	<string>bn_ss_tt_ra.glif</string>
	<key>bn_ss_tta</key>
	<string>bn_ss_tta.glif</string>
	<key>bn_ss_ttha</key>
	<string>bn_ss_ttha.glif</string>
	<key>bn_ssa</key>
	<string>bn_ssa.glif</string>
	<key>bn_ssa.half</key>
	<string>bn_ssa.half.glif</string>
	<key>bn_t_ba</key>
	<string>bn_t_ba.glif</string>
	<key>bn_t_ma</key>
	<string>bn_t_ma.glif</string>
	<key>bn_t_na</key>
	<string>bn_t_na.glif</string>
	<key>bn_t_ra</key>
	<string>bn_t_ra.glif</string>
	<key>bn_t_ra.alt01</key>
	<string>bn_t_ra.alt01.glif</string>
	<key>bn_t_ra_ukaar</key>
	<string>bn_t_ra_ukaar.glif</string>
	<key>bn_t_ra_uukaar</key>
	<string>bn_t_ra_uukaar.glif</string>
	<key>bn_t_t_ba</key>
	<string>bn_t_t_ba.glif</string>
	<key>bn_t_t_ra</key>
	<string>bn_t_t_ra.glif</string>
	<key>bn_t_ta</key>
	<string>bn_t_ta.glif</string>
	<key>bn_t_tha</key>
	<string>bn_t_tha.glif</string>
	<key>bn_ta</key>
	<string>bn_ta.glif</string>
	<key>bn_ta.half</key>
	<string>bn_ta.half.glif</string>
	<key>bn_th_ba</key>
	<string>bn_th_ba.glif</string>
	<key>bn_th_la</key>
	<string>bn_th_la.glif</string>
	<key>bn_th_ra</key>
	<string>bn_th_ra.glif</string>
	<key>bn_th_ra_ukaar</key>
	<string>bn_th_ra_ukaar.glif</string>
	<key>bn_th_ra_uukaar</key>
	<string>bn_th_ra_uukaar.glif</string>
	<key>bn_tha</key>
	<string>bn_tha.glif</string>
	<key>bn_tha.half</key>
	<string>bn_tha.half.glif</string>
	<key>bn_three</key>
	<string>bn_three.glif</string>
	<key>bn_three.pnum</key>
	<string>bn_three.pnum.glif</string>
	<key>bn_tt_ba</key>
	<string>bn_tt_ba.glif</string>
	<key>bn_tt_ra</key>
	<string>bn_tt_ra.glif</string>
	<key>bn_tt_tta</key>
	<string>bn_tt_tta.glif</string>
	<key>bn_tta</key>
	<string>bn_tta.glif</string>
	<key>bn_tta.half</key>
	<string>bn_tta.half.glif</string>
	<key>bn_tth_ra</key>
	<string>bn_tth_ra.glif</string>
	<key>bn_ttha</key>
	<string>bn_ttha.glif</string>
	<key>bn_ttha.half</key>
	<string>bn_ttha.half.glif</string>
	<key>bn_two</key>
	<string>bn_two.glif</string>
	<key>bn_two.pnum</key>
	<string>bn_two.pnum.glif</string>
	<key>bn_u</key>
	<string>bn_u.glif</string>
	<key>bn_ukaar</key>
	<string>bn_ukaar.glif</string>
	<key>bn_ukaar.alt</key>
	<string>bn_ukaar.alt.glif</string>
	<key>bn_uu</key>
	<string>bn_uu.glif</string>
	<key>bn_uukaar</key>
	<string>bn_uukaar.glif</string>
	<key>bn_uukaar.alt</key>
	<string>bn_uukaar.alt.glif</string>
	<key>bn_y_ra</key>
	<string>bn_y_ra.glif</string>
	<key>bn_ya</key>
	<string>bn_ya.glif</string>
	<key>bn_ya.half</key>
	<string>bn_ya.half.glif</string>
	<key>bn_ya_phala</key>
	<string>bn_ya_phala.glif</string>
	<key>bn_yya</key>
	<string>bn_yya.glif</string>
	<key>bn_yya.half</key>
	<string>bn_yya.half.glif</string>
	<key>bn_zero</key>
	<string>bn_zero.glif</string>
	<key>bn_zero.pnum</key>
	<string>bn_zero.pnum.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.alt</key>
	<string>caron.alt.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>foursuperior</key>
	<string>foursuperior.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onehalf</key>
	<string>onehalf.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>ordmasculine</key>
	<string>ordmasculine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>perthousand</key>
	<string>perthousand.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>revcommaaccent</key>
	<string>revcommaaccent.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni00A0</key>
	<string>uni00A0_.glif</string>
	<key>uni00AD</key>
	<string>uni00AD_.glif</string>
	<key>uni00B5</key>
	<string>uni00B5_.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni013B</key>
	<string>uni013B_.glif</string>
	<key>uni013C</key>
	<string>uni013C_.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni015E</key>
	<string>uni015E_.glif</string>
	<key>uni015F</key>
	<string>uni015F_.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni021A</key>
	<string>uni021A_.glif</string>
	<key>uni021B</key>
	<string>uni021B_.glif</string>
	<key>uni02C9</key>
	<string>uni02C9_.glif</string>
	<key>uni200C</key>
	<string>uni200C_.glif</string>
	<key>uni200D</key>
	<string>uni200D_.glif</string>
	<key>uni20B9.rupee</key>
	<string>uni20B9_.rupee.glif</string>
	<key>uni20BA</key>
	<string>uni20BA_.glif</string>
	<key>uni20BD</key>
	<string>uni20BD_.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>uni25CC</key>
	<string>uni25CC_.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
