<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>alphabetical</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>category</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>unicode</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>script</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>suffix</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>decompositionBase</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>Aringacute</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>F</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
		<string>T_h</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>uni03A9</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>aringacute</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>ccaron</string>
		<string>c_h</string>
		<string>c_k</string>
		<string>c_t</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>f</string>
		<string>f_b</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_t</string>
		<string>f_h</string>
		<string>f_iacute</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_t</string>
		<string>g</string>
		<string>gcircumflex</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>j</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scircumflex</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>s_p</string>
		<string>s_t</string>
		<string>t</string>
		<string>tcaron</string>
		<string>uni021B</string>
		<string>t_t</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>eth</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>thorn</string>
		<string>dcroat</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>ij</string>
		<string>kgreenlandic</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>napostrophe</string>
		<string>eng</string>
		<string>oe</string>
		<string>tbar</string>
		<string>longs</string>
		<string>florin</string>
		<string>florin.lf</string>
		<string>a.ordn</string>
		<string>b.ordn</string>
		<string>c.ordn</string>
		<string>d.ordn</string>
		<string>e.ordn</string>
		<string>f.ordn</string>
		<string>g.ordn</string>
		<string>h.ordn</string>
		<string>i.ordn</string>
		<string>j.ordn</string>
		<string>k.ordn</string>
		<string>l.ordn</string>
		<string>m.ordn</string>
		<string>n.ordn</string>
		<string>o.ordn</string>
		<string>p.ordn</string>
		<string>q.ordn</string>
		<string>r.ordn</string>
		<string>s.ordn</string>
		<string>t.ordn</string>
		<string>u.ordn</string>
		<string>v.ordn</string>
		<string>w.ordn</string>
		<string>x.ordn</string>
		<string>y.ordn</string>
		<string>z.ordn</string>
		<string>florin.osf</string>
		<string>a.sc</string>
		<string>agrave.sc</string>
		<string>aacute.sc</string>
		<string>acircumflex.sc</string>
		<string>atilde.sc</string>
		<string>adieresis.sc</string>
		<string>aring.sc</string>
		<string>amacron.sc</string>
		<string>abreve.sc</string>
		<string>aogonek.sc</string>
		<string>aringacute.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>ccedilla.sc</string>
		<string>cacute.sc</string>
		<string>ccircumflex.sc</string>
		<string>cdotaccent.sc</string>
		<string>ccaron.sc</string>
		<string>d.sc</string>
		<string>dcaron.sc</string>
		<string>e.sc</string>
		<string>egrave.sc</string>
		<string>eacute.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>emacron.sc</string>
		<string>ebreve.sc</string>
		<string>edotaccent.sc</string>
		<string>eogonek.sc</string>
		<string>ecaron.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>gcircumflex.sc</string>
		<string>gbreve.sc</string>
		<string>gdotaccent.sc</string>
		<string>gcommaaccent.sc</string>
		<string>h.sc</string>
		<string>hcircumflex.sc</string>
		<string>i.sc</string>
		<string>igrave.sc</string>
		<string>iacute.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>itilde.sc</string>
		<string>imacron.sc</string>
		<string>ibreve.sc</string>
		<string>iogonek.sc</string>
		<string>j.sc</string>
		<string>jcircumflex.sc</string>
		<string>k.sc</string>
		<string>kcommaaccent.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcommaaccent.sc</string>
		<string>lcaron.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>ntilde.sc</string>
		<string>nacute.sc</string>
		<string>ncommaaccent.sc</string>
		<string>ncaron.sc</string>
		<string>o.sc</string>
		<string>ograve.sc</string>
		<string>oacute.sc</string>
		<string>ocircumflex.sc</string>
		<string>otilde.sc</string>
		<string>odieresis.sc</string>
		<string>omacron.sc</string>
		<string>obreve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>p.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcommaaccent.sc</string>
		<string>rcaron.sc</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scircumflex.sc</string>
		<string>scedilla.sc</string>
		<string>scaron.sc</string>
		<string>scommaaccent.sc</string>
		<string>t.sc</string>
		<string>tcaron.sc</string>
		<string>uni021B.sc</string>
		<string>u.sc</string>
		<string>ugrave.sc</string>
		<string>uacute.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>utilde.sc</string>
		<string>umacron.sc</string>
		<string>ubreve.sc</string>
		<string>uring.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>uogonek.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>wcircumflex.sc</string>
		<string>wgrave.sc</string>
		<string>wacute.sc</string>
		<string>wdieresis.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ydieresis.sc</string>
		<string>ycircumflex.sc</string>
		<string>ygrave.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zdotaccent.sc</string>
		<string>zcaron.sc</string>
		<string>ordfeminine.sc</string>
		<string>ordmasculine.sc</string>
		<string>germandbls.sc</string>
		<string>ae.sc</string>
		<string>aeacute.sc</string>
		<string>eth.sc</string>
		<string>oslash.sc</string>
		<string>oslashacute.sc</string>
		<string>thorn.sc</string>
		<string>dcroat.sc</string>
		<string>hbar.sc</string>
		<string>dotlessi.sc</string>
		<string>kgreenlandic.sc</string>
		<string>ldot.sc</string>
		<string>lslash.sc</string>
		<string>napostrophe.sc</string>
		<string>eng.sc</string>
		<string>oe.sc</string>
		<string>tbar.sc</string>
		<string>florin.sc</string>
		<string>a.sinf</string>
		<string>b.sinf</string>
		<string>c.sinf</string>
		<string>d.sinf</string>
		<string>e.sinf</string>
		<string>f.sinf</string>
		<string>g.sinf</string>
		<string>h.sinf</string>
		<string>i.sinf</string>
		<string>j.sinf</string>
		<string>k.sinf</string>
		<string>l.sinf</string>
		<string>m.sinf</string>
		<string>n.sinf</string>
		<string>o.sinf</string>
		<string>p.sinf</string>
		<string>q.sinf</string>
		<string>r.sinf</string>
		<string>s.sinf</string>
		<string>t.sinf</string>
		<string>u.sinf</string>
		<string>v.sinf</string>
		<string>w.sinf</string>
		<string>x.sinf</string>
		<string>y.sinf</string>
		<string>z.sinf</string>
		<string>a.sup</string>
		<string>b.sup</string>
		<string>c.sup</string>
		<string>d.sup</string>
		<string>e.sup</string>
		<string>f.sup</string>
		<string>g.sup</string>
		<string>h.sup</string>
		<string>i.sup</string>
		<string>j.sup</string>
		<string>k.sup</string>
		<string>l.sup</string>
		<string>m.sup</string>
		<string>n.sup</string>
		<string>o.sup</string>
		<string>p.sup</string>
		<string>q.sup</string>
		<string>r.sup</string>
		<string>s.sup</string>
		<string>t.sup</string>
		<string>u.sup</string>
		<string>v.sup</string>
		<string>w.sup</string>
		<string>x.sup</string>
		<string>y.sup</string>
		<string>z.sup</string>
		<string>florin.tf</string>
		<string>florin.tosf</string>
		<string>mu</string>
		<string>uni03BC</string>
		<string>pi</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>uni02C9</string>
		<string>caron.alt</string>
		<string>circumflex.cap</string>
		<string>caron.cap</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.denom</string>
		<string>one.denom</string>
		<string>two.denom</string>
		<string>three.denom</string>
		<string>four.denom</string>
		<string>five.denom</string>
		<string>six.denom</string>
		<string>seven.denom</string>
		<string>eight.denom</string>
		<string>nine.denom</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.num</string>
		<string>one.num</string>
		<string>two.num</string>
		<string>three.num</string>
		<string>four.num</string>
		<string>five.num</string>
		<string>six.num</string>
		<string>seven.num</string>
		<string>eight.num</string>
		<string>nine.num</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>zero.sc</string>
		<string>one.sc</string>
		<string>two.sc</string>
		<string>three.sc</string>
		<string>four.sc</string>
		<string>five.sc</string>
		<string>six.sc</string>
		<string>seven.sc</string>
		<string>eight.sc</string>
		<string>nine.sc</string>
		<string>zero.slash</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>hyphen.case</string>
		<string>hyphen.ordn</string>
		<string>hyphen.sc</string>
		<string>endash.sc</string>
		<string>emdash.sc</string>
		<string>parenleft</string>
		<string>bracketleft</string>
		<string>braceleft</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>parenleft.ordn</string>
		<string>parenleft.sc</string>
		<string>bracketleft.sc</string>
		<string>braceleft.sc</string>
		<string>parenright</string>
		<string>bracketright</string>
		<string>braceright</string>
		<string>parenright.ordn</string>
		<string>parenright.sc</string>
		<string>bracketright.sc</string>
		<string>braceright.sc</string>
		<string>guillemotleft</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>guilsinglleft</string>
		<string>quoteleft.sc</string>
		<string>quotedblleft.sc</string>
		<string>guillemotright</string>
		<string>quoteright</string>
		<string>quotedblright</string>
		<string>guilsinglright</string>
		<string>quoteright.sc</string>
		<string>quotedblright.sc</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>asterisk</string>
		<string>comma</string>
		<string>period</string>
		<string>slash</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>question</string>
		<string>at</string>
		<string>backslash</string>
		<string>exclamdown</string>
		<string>periodcentered</string>
		<string>questiondown</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>bullet</string>
		<string>ellipsis</string>
		<string>perthousand</string>
		<string>percent.lf</string>
		<string>perthousand.lf</string>
		<string>comma.ordn</string>
		<string>period.ordn</string>
		<string>percent.osf</string>
		<string>perthousand.osf</string>
		<string>exclam.sc</string>
		<string>percent.sc</string>
		<string>ampersand.sc</string>
		<string>asterisk.sc</string>
		<string>slash.sc</string>
		<string>question.sc</string>
		<string>at.sc</string>
		<string>backslash.sc</string>
		<string>exclamdown.sc</string>
		<string>questiondown.sc</string>
		<string>perthousand.sc</string>
		<string>percent.tf</string>
		<string>perthousand.tf</string>
		<string>percent.tosf</string>
		<string>perthousand.tosf</string>
		<string>plus</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>bar</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>fraction</string>
		<string>partialdiff</string>
		<string>product</string>
		<string>summation</string>
		<string>minus</string>
		<string>radical</string>
		<string>infinity</string>
		<string>integral</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>plus.ordn</string>
		<string>equal.ordn</string>
		<string>minus.ordn</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>currency</string>
		<string>yen</string>
		<string>Euro</string>
		<string>dollar.lf</string>
		<string>cent.lf</string>
		<string>sterling.lf</string>
		<string>yen.lf</string>
		<string>Euro.lf</string>
		<string>dollar.osf</string>
		<string>cent.osf</string>
		<string>sterling.osf</string>
		<string>yen.osf</string>
		<string>Euro.osf</string>
		<string>dollar.sc</string>
		<string>cent.sc</string>
		<string>sterling.sc</string>
		<string>yen.sc</string>
		<string>Euro.sc</string>
		<string>dollar.tf</string>
		<string>cent.tf</string>
		<string>sterling.tf</string>
		<string>yen.tf</string>
		<string>Euro.tf</string>
		<string>dollar.tosf</string>
		<string>cent.tosf</string>
		<string>sterling.tosf</string>
		<string>yen.tosf</string>
		<string>Euro.tosf</string>
		<string>asciicircum</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>grave.cap</string>
		<string>dieresis.cap</string>
		<string>macron.cap</string>
		<string>acute.cap</string>
		<string>cedilla.cap</string>
		<string>breve.cap</string>
		<string>dotaccent.cap</string>
		<string>ring.cap</string>
		<string>ogonek.cap</string>
		<string>tilde.cap</string>
		<string>hungarumlaut.cap</string>
		<string>brokenbar</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>afii61352</string>
		<string>trademark</string>
		<string>lozenge</string>
		<string>circle</string>
		<string>afii61352.lf</string>
		<string>circle.open</string>
		<string>afii61352.osf</string>
		<string>copyright.sc</string>
		<string>afii61352.sc</string>
		<string>afii61352.tf</string>
		<string>afii61352.tosf</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni00AD</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>apostrophe</string>
		<string>commaaccent</string>
		<string>commainferior</string>
		<string>commasuperior</string>
		<string>dotlessj</string>
		<string>doublecircle</string>
		<string>eightinferior</string>
		<string>eightsuperior</string>
		<string>equalinferior</string>
		<string>equalsuperior</string>
		<string>ff</string>
		<string>ffi</string>
		<string>ffl</string>
		<string>fi</string>
		<string>fiveinferior</string>
		<string>fivesuperior</string>
		<string>fl</string>
		<string>fourinferior</string>
		<string>foursuperior</string>
		<string>hypheninferior</string>
		<string>hyphensuperior</string>
		<string>idotaccent</string>
		<string>minusinferior</string>
		<string>minussuperior</string>
		<string>nineinferior</string>
		<string>ninesuperior</string>
		<string>oneinferior</string>
		<string>onesuperior</string>
		<string>ornm1</string>
		<string>ornm10</string>
		<string>ornm11</string>
		<string>ornm12</string>
		<string>ornm13</string>
		<string>ornm14</string>
		<string>ornm15</string>
		<string>ornm16</string>
		<string>ornm17</string>
		<string>ornm18</string>
		<string>ornm19</string>
		<string>ornm2</string>
		<string>ornm20</string>
		<string>ornm3</string>
		<string>ornm4</string>
		<string>ornm5</string>
		<string>ornm6</string>
		<string>ornm7</string>
		<string>ornm8</string>
		<string>ornm9</string>
		<string>parenleftinferior</string>
		<string>parenleftsuperior</string>
		<string>parenrightinferior</string>
		<string>parenrightsuperior</string>
		<string>periodinferior</string>
		<string>periodsuperior</string>
		<string>plusinferior</string>
		<string>plussuperior</string>
		<string>raute</string>
		<string>revcommaaccent</string>
		<string>seveninferior</string>
		<string>sevensuperior</string>
		<string>sixinferior</string>
		<string>sixsuperior</string>
		<string>square</string>
		<string>thinspace</string>
		<string>threeinferior</string>
		<string>threesuperior</string>
		<string>triangle</string>
		<string>triangleBlackDown</string>
		<string>triangleBlackLeft</string>
		<string>triangleBlackRight</string>
		<string>triangleBlackUp</string>
		<string>triangleWhiteLeft</string>
		<string>triangleWhiteRight</string>
		<string>twoinferior</string>
		<string>twosuperior</string>
		<string>uni0162</string>
		<string>uni0163</string>
		<string>uni0394</string>
		<string>uni2215</string>
		<string>uni2219</string>
		<string>zeroinferior</string>
		<string>zerosuperior</string>
		<string>arrowdown.alt</string>
		<string>arrowleft.alt</string>
		<string>arrowleftdown.alt</string>
		<string>arrowleftup.alt</string>
		<string>arrowright.alt</string>
		<string>arrowrightdown.alt</string>
		<string>arrowrightup.alt</string>
		<string>arrowup.alt</string>
		<string>commaaccent.cap</string>
		<string>arrow.down</string>
		<string>arrowleft.down</string>
		<string>arrowlong.down</string>
		<string>arrowright.down</string>
		<string>arrow.left</string>
		<string>arrowlong.left</string>
		<string>triangle.left</string>
		<string>arrowlong.leftdown</string>
		<string>arrow.leftup</string>
		<string>arrowlong.leftup</string>
		<string>square.open</string>
		<string>arrow.right</string>
		<string>arrowlong.right</string>
		<string>arrowlong.rightdown</string>
		<string>arrow.rightup</string>
		<string>arrowlong.rightup</string>
		<string>idotaccent.sc</string>
		<string>uni0163.sc</string>
		<string>zeroslash.tosf</string>
		<string>arrow.up</string>
		<string>arrowlong.up</string>
	</array>
</dict>
</plist>
