<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.null</key>
	<string>_null.glif</string>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asa_ba</key>
	<string>asa_ba.glif</string>
	<key>asa_ra</key>
	<string>asa_ra.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bn_a</key>
	<string>bn_a.glif</string>
	<key>bn_aa</key>
	<string>bn_aa.glif</string>
	<key>bn_aakaar</key>
	<string>bn_aakaar.glif</string>
	<key>bn_aakaar.b</key>
	<string>bn_aakaar.b.glif</string>
	<key>bn_ai</key>
	<string>bn_ai.glif</string>
	<key>bn_aikaar</key>
	<string>bn_aikaar.glif</string>
	<key>bn_anusvar</key>
	<string>bn_anusvar.glif</string>
	<key>bn_au</key>
	<string>bn_au.glif</string>
	<key>bn_aukaar</key>
	<string>bn_aukaar.glif</string>
	<key>bn_aumark</key>
	<string>bn_aumark.glif</string>
	<key>bn_avagraha</key>
	<string>bn_avagraha.glif</string>
	<key>bn_b_da_ukaar</key>
	<string>bn_b_da_ukaar.glif</string>
	<key>bn_b_da_uukaar</key>
	<string>bn_b_da_uukaar.glif</string>
	<key>bn_b_dha</key>
	<string>bn_b_dha.glif</string>
	<key>bn_ba</key>
	<string>bn_ba.glif</string>
	<key>bn_bh_ra</key>
	<string>bn_bh_ra.glif</string>
	<key>bn_bh_ra_ukaar</key>
	<string>bn_bh_ra_ukaar.glif</string>
	<key>bn_bh_ra_uukaar</key>
	<string>bn_bh_ra_uukaar.glif</string>
	<key>bn_bha</key>
	<string>bn_bha.glif</string>
	<key>bn_bisarga</key>
	<string>bn_bisarga.glif</string>
	<key>bn_ca</key>
	<string>bn_ca.glif</string>
	<key>bn_cha</key>
	<string>bn_cha.glif</string>
	<key>bn_chandrabindu</key>
	<string>bn_chandrabindu.glif</string>
	<key>bn_currency1</key>
	<string>bn_currency1.glif</string>
	<key>bn_currency16</key>
	<string>bn_currency16.glif</string>
	<key>bn_currency2</key>
	<string>bn_currency2.glif</string>
	<key>bn_currency3</key>
	<string>bn_currency3.glif</string>
	<key>bn_currency4</key>
	<string>bn_currency4.glif</string>
	<key>bn_currencyless</key>
	<string>bn_currencyless.glif</string>
	<key>bn_d_ba</key>
	<string>bn_d_ba.glif</string>
	<key>bn_d_da</key>
	<string>bn_d_da.glif</string>
	<key>bn_d_dh_ba</key>
	<string>bn_d_dh_ba.glif</string>
	<key>bn_d_dha</key>
	<string>bn_d_dha.glif</string>
	<key>bn_d_ra_ukaar</key>
	<string>bn_d_ra_ukaar.glif</string>
	<key>bn_d_ra_uukaar</key>
	<string>bn_d_ra_uukaar.glif</string>
	<key>bn_da</key>
	<string>bn_da.glif</string>
	<key>bn_danda</key>
	<string>bn_danda.glif</string>
	<key>bn_dda</key>
	<string>bn_dda.glif</string>
	<key>bn_ddha</key>
	<string>bn_ddha.glif</string>
	<key>bn_dh_ra</key>
	<string>bn_dh_ra.glif</string>
	<key>bn_dh_ra_ukaar</key>
	<string>bn_dh_ra_ukaar.glif</string>
	<key>bn_dh_ra_uukaar</key>
	<string>bn_dh_ra_uukaar.glif</string>
	<key>bn_dha</key>
	<string>bn_dha.glif</string>
	<key>bn_doubledanda</key>
	<string>bn_doubledanda.glif</string>
	<key>bn_e</key>
	<string>bn_e.glif</string>
	<key>bn_eight</key>
	<string>bn_eight.glif</string>
	<key>bn_ekaar</key>
	<string>bn_ekaar.glif</string>
	<key>bn_ekaar.b</key>
	<string>bn_ekaar.b.glif</string>
	<key>bn_ekaar.init</key>
	<string>bn_ekaar.init.glif</string>
	<key>bn_five</key>
	<string>bn_five.glif</string>
	<key>bn_four</key>
	<string>bn_four.glif</string>
	<key>bn_g_ra_ukaar</key>
	<string>bn_g_ra_ukaar.glif</string>
	<key>bn_g_ra_uukaar</key>
	<string>bn_g_ra_uukaar.glif</string>
	<key>bn_g_ukaar</key>
	<string>bn_g_ukaar.glif</string>
	<key>bn_ga</key>
	<string>bn_ga.glif</string>
	<key>bn_gha</key>
	<string>bn_gha.glif</string>
	<key>bn_ha</key>
	<string>bn_ha.glif</string>
	<key>bn_halanth</key>
	<string>bn_halanth.glif</string>
	<key>bn_i</key>
	<string>bn_i.glif</string>
	<key>bn_ii</key>
	<string>bn_ii.glif</string>
	<key>bn_iikaar</key>
	<string>bn_iikaar.glif</string>
	<key>bn_iikaar.b</key>
	<string>bn_iikaar.b.glif</string>
	<key>bn_iikaar.fl</key>
	<string>bn_iikaar.fl.glif</string>
	<key>bn_iikaar.fl.b</key>
	<string>bn_iikaar.fl.b.glif</string>
	<key>bn_iikaar_wi1</key>
	<string>bn_iikaar_wi1.glif</string>
	<key>bn_iikaar_wi1.b</key>
	<string>bn_iikaar_wi1.b.glif</string>
	<key>bn_iikaar_wi2</key>
	<string>bn_iikaar_wi2.glif</string>
	<key>bn_iikaar_wi2.b</key>
	<string>bn_iikaar_wi2.b.glif</string>
	<key>bn_ikaar</key>
	<string>bn_ikaar.glif</string>
	<key>bn_ikaar.b</key>
	<string>bn_ikaar.b.glif</string>
	<key>bn_ikaar.fl</key>
	<string>bn_ikaar.fl.glif</string>
	<key>bn_ikaar.fl.b</key>
	<string>bn_ikaar.fl.b.glif</string>
	<key>bn_ikaar_wi1</key>
	<string>bn_ikaar_wi1.glif</string>
	<key>bn_ikaar_wi1.b</key>
	<string>bn_ikaar_wi1.b.glif</string>
	<key>bn_ikaar_wi2</key>
	<string>bn_ikaar_wi2.glif</string>
	<key>bn_ikaar_wi2.b</key>
	<string>bn_ikaar_wi2.b.glif</string>
	<key>bn_isshar</key>
	<string>bn_isshar.glif</string>
	<key>bn_j_ja</key>
	<string>bn_j_ja.glif</string>
	<key>bn_ja</key>
	<string>bn_ja.glif</string>
	<key>bn_jha</key>
	<string>bn_jha.glif</string>
	<key>bn_k_ba</key>
	<string>bn_k_ba.glif</string>
	<key>bn_k_ka</key>
	<string>bn_k_ka.glif</string>
	<key>bn_k_la</key>
	<string>bn_k_la.glif</string>
	<key>bn_k_na</key>
	<string>bn_k_na.glif</string>
	<key>bn_k_ra</key>
	<string>bn_k_ra.glif</string>
	<key>bn_k_ssa</key>
	<string>bn_k_ssa.glif</string>
	<key>bn_k_t_ba</key>
	<string>bn_k_t_ba.glif</string>
	<key>bn_k_t_ra</key>
	<string>bn_k_t_ra.glif</string>
	<key>bn_k_ta</key>
	<string>bn_k_ta.glif</string>
	<key>bn_k_tt_ra</key>
	<string>bn_k_tt_ra.glif</string>
	<key>bn_k_tta</key>
	<string>bn_k_tta.glif</string>
	<key>bn_ka</key>
	<string>bn_ka.glif</string>
	<key>bn_kha</key>
	<string>bn_kha.glif</string>
	<key>bn_khanda_ta</key>
	<string>bn_khanda_ta.glif</string>
	<key>bn_l_ga_ukaar</key>
	<string>bn_l_ga_ukaar.glif</string>
	<key>bn_l_ka</key>
	<string>bn_l_ka.glif</string>
	<key>bn_la</key>
	<string>bn_la.glif</string>
	<key>bn_li</key>
	<string>bn_li.glif</string>
	<key>bn_likaar</key>
	<string>bn_likaar.glif</string>
	<key>bn_lli</key>
	<string>bn_lli.glif</string>
	<key>bn_llikaar</key>
	<string>bn_llikaar.glif</string>
	<key>bn_m_la</key>
	<string>bn_m_la.glif</string>
	<key>bn_m_pa</key>
	<string>bn_m_pa.glif</string>
	<key>bn_ma</key>
	<string>bn_ma.glif</string>
	<key>bn_n_dha</key>
	<string>bn_n_dha.glif</string>
	<key>bn_n_tha</key>
	<string>bn_n_tha.glif</string>
	<key>bn_na</key>
	<string>bn_na.glif</string>
	<key>bn_ng_ka</key>
	<string>bn_ng_ka.glif</string>
	<key>bn_nga</key>
	<string>bn_nga.glif</string>
	<key>bn_nine</key>
	<string>bn_nine.glif</string>
	<key>bn_nn_dda</key>
	<string>bn_nn_dda.glif</string>
	<key>bn_nna</key>
	<string>bn_nna.glif</string>
	<key>bn_nukta</key>
	<string>bn_nukta.glif</string>
	<key>bn_nya</key>
	<string>bn_nya.glif</string>
	<key>bn_o</key>
	<string>bn_o.glif</string>
	<key>bn_okaar</key>
	<string>bn_okaar.glif</string>
	<key>bn_one</key>
	<string>bn_one.glif</string>
	<key>bn_p_ra</key>
	<string>bn_p_ra.glif</string>
	<key>bn_p_ra_ukaar</key>
	<string>bn_p_ra_ukaar.glif</string>
	<key>bn_p_ra_uukaar</key>
	<string>bn_p_ra_uukaar.glif</string>
	<key>bn_p_t_ra</key>
	<string>bn_p_t_ra.glif</string>
	<key>bn_p_ta</key>
	<string>bn_p_ta.glif</string>
	<key>bn_pa</key>
	<string>bn_pa.glif</string>
	<key>bn_pha</key>
	<string>bn_pha.glif</string>
	<key>bn_ra</key>
	<string>bn_ra.glif</string>
	<key>bn_ra_ukaar</key>
	<string>bn_ra_ukaar.glif</string>
	<key>bn_ra_uukaar</key>
	<string>bn_ra_uukaar.glif</string>
	<key>bn_rha</key>
	<string>bn_rha.glif</string>
	<key>bn_ri</key>
	<string>bn_ri.glif</string>
	<key>bn_rikaar</key>
	<string>bn_rikaar.glif</string>
	<key>bn_rra</key>
	<string>bn_rra.glif</string>
	<key>bn_rri</key>
	<string>bn_rri.glif</string>
	<key>bn_rrikaar</key>
	<string>bn_rrikaar.glif</string>
	<key>bn_rupeemark</key>
	<string>bn_rupeemark.glif</string>
	<key>bn_rupeesign</key>
	<string>bn_rupeesign.glif</string>
	<key>bn_s_ka</key>
	<string>bn_s_ka.glif</string>
	<key>bn_s_kha</key>
	<string>bn_s_kha.glif</string>
	<key>bn_s_pa</key>
	<string>bn_s_pa.glif</string>
	<key>bn_s_ta_ukaar</key>
	<string>bn_s_ta_ukaar.glif</string>
	<key>bn_sa</key>
	<string>bn_sa.glif</string>
	<key>bn_seven</key>
	<string>bn_seven.glif</string>
	<key>bn_sh_ra</key>
	<string>bn_sh_ra.glif</string>
	<key>bn_sh_ra_iikaar</key>
	<string>bn_sh_ra_iikaar.glif</string>
	<key>bn_sh_ra_ukaar</key>
	<string>bn_sh_ra_ukaar.glif</string>
	<key>bn_sh_ra_uukaar</key>
	<string>bn_sh_ra_uukaar.glif</string>
	<key>bn_sha</key>
	<string>bn_sha.glif</string>
	<key>bn_sha_ukaar</key>
	<string>bn_sha_ukaar.glif</string>
	<key>bn_six</key>
	<string>bn_six.glif</string>
	<key>bn_ss_pa</key>
	<string>bn_ss_pa.glif</string>
	<key>bn_ss_tt_ra</key>
	<string>bn_ss_tt_ra.glif</string>
	<key>bn_ss_tta</key>
	<string>bn_ss_tta.glif</string>
	<key>bn_ssa</key>
	<string>bn_ssa.glif</string>
	<key>bn_t_ba</key>
	<string>bn_t_ba.glif</string>
	<key>bn_t_ra</key>
	<string>bn_t_ra.glif</string>
	<key>bn_t_ra_ukaar</key>
	<string>bn_t_ra_ukaar.glif</string>
	<key>bn_t_ra_uukaar</key>
	<string>bn_t_ra_uukaar.glif</string>
	<key>bn_ta</key>
	<string>bn_ta.glif</string>
	<key>bn_th_ra</key>
	<string>bn_th_ra.glif</string>
	<key>bn_th_ra_ukaar</key>
	<string>bn_th_ra_ukaar.glif</string>
	<key>bn_th_ra_uukaar</key>
	<string>bn_th_ra_uukaar.glif</string>
	<key>bn_tha</key>
	<string>bn_tha.glif</string>
	<key>bn_three</key>
	<string>bn_three.glif</string>
	<key>bn_tta</key>
	<string>bn_tta.glif</string>
	<key>bn_ttha</key>
	<string>bn_ttha.glif</string>
	<key>bn_two</key>
	<string>bn_two.glif</string>
	<key>bn_u</key>
	<string>bn_u.glif</string>
	<key>bn_ukaar</key>
	<string>bn_ukaar.glif</string>
	<key>bn_uu</key>
	<string>bn_uu.glif</string>
	<key>bn_uukaar</key>
	<string>bn_uukaar.glif</string>
	<key>bn_ya</key>
	<string>bn_ya.glif</string>
	<key>bn_yya</key>
	<string>bn_yya.glif</string>
	<key>bn_zero</key>
	<string>bn_zero.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>onesuperior</key>
	<string>onesuperior.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>threesuperior</key>
	<string>threesuperior.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>twosuperior</key>
	<string>twosuperior.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>uni0122</key>
	<string>uni0122.glif</string>
	<key>uni0123</key>
	<string>uni0123.glif</string>
	<key>uni0136</key>
	<string>uni0136.glif</string>
	<key>uni0137</key>
	<string>uni0137.glif</string>
	<key>uni0145</key>
	<string>uni0145.glif</string>
	<key>uni0146</key>
	<string>uni0146.glif</string>
	<key>uni0156</key>
	<string>uni0156.glif</string>
	<key>uni0157</key>
	<string>uni0157.glif</string>
	<key>uni0162</key>
	<string>uni0162.glif</string>
	<key>uni0163</key>
	<string>uni0163.glif</string>
	<key>uni0218</key>
	<string>uni0218.glif</string>
	<key>uni0219</key>
	<string>uni0219.glif</string>
	<key>uni2113</key>
	<string>uni2113.glif</string>
	<key>uni2126</key>
	<string>uni2126.glif</string>
	<key>uni2206</key>
	<string>uni2206.glif</string>
	<key>uni2215</key>
	<string>uni2215.glif</string>
	<key>uni2219</key>
	<string>uni2219.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
</dict>
</plist>
