<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_uni0985</key>
	<array>
		<string>bn_a</string>
	</array>
	<key>@MMK_L_uni0989</key>
	<array>
		<string>bn_dda</string>
		<string>bn_dda.001</string>
	</array>
	<key>@MMK_L_uni098F</key>
	<array>
		<string>bn_e</string>
	</array>
	<key>@MMK_R_uni0985</key>
	<array>
		<string>bn_a</string>
	</array>
	<key>@MMK_R_uni098F</key>
	<array>
		<string>bn_e</string>
	</array>
	<key>@MMK_R_uni0999</key>
	<array>
		<string>bn_dda</string>
		<string>bn_dda.001</string>
	</array>
</dict>
</plist>
