<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asa_ba</key>
	<string>asa_ba.glif</string>
	<key>asa_ba_ukaar</key>
	<string>asa_ba_ukaar.glif</string>
	<key>asa_ba_uukaar</key>
	<string>asa_ba_uukaar.glif</string>
	<key>asa_ra</key>
	<string>asa_ra.glif</string>
	<key>asa_ra_ukaar</key>
	<string>asa_ra_ukaar.glif</string>
	<key>asa_ra_uukaar</key>
	<string>asa_ra_uukaar.glif</string>
	<key>bn_a</key>
	<string>bn_a.glif</string>
	<key>bn_aa</key>
	<string>bn_aa.glif</string>
	<key>bn_aakaar</key>
	<string>bn_aakaar.glif</string>
	<key>bn_aakaar.b</key>
	<string>bn_aakaar.b.glif</string>
	<key>bn_ai</key>
	<string>bn_ai.glif</string>
	<key>bn_aikaar</key>
	<string>bn_aikaar.glif</string>
	<key>bn_anusvar</key>
	<string>bn_anusvar.glif</string>
	<key>bn_au</key>
	<string>bn_au.glif</string>
	<key>bn_aukaar</key>
	<string>bn_aukaar.glif</string>
	<key>bn_aumark</key>
	<string>bn_aumark.glif</string>
	<key>bn_aumark_reph</key>
	<string>bn_aumark_reph.glif</string>
	<key>bn_avagraha</key>
	<string>bn_avagraha.glif</string>
	<key>bn_b_ba</key>
	<string>bn_b_ba.glif</string>
	<key>bn_b_bha</key>
	<string>bn_b_bha.glif</string>
	<key>bn_b_da</key>
	<string>bn_b_da.glif</string>
	<key>bn_b_da_ukaar</key>
	<string>bn_b_da_ukaar.glif</string>
	<key>bn_b_da_uukaar</key>
	<string>bn_b_da_uukaar.glif</string>
	<key>bn_b_dha</key>
	<string>bn_b_dha.glif</string>
	<key>bn_b_ja</key>
	<string>bn_b_ja.glif</string>
	<key>bn_b_la</key>
	<string>bn_b_la.glif</string>
	<key>bn_b_ra</key>
	<string>bn_b_ra.glif</string>
	<key>bn_ba</key>
	<string>bn_ba.glif</string>
	<key>bn_ba_phala</key>
	<string>bn_ba_phala.glif</string>
	<key>bn_bh_la</key>
	<string>bn_bh_la.glif</string>
	<key>bn_bh_ra</key>
	<string>bn_bh_ra.glif</string>
	<key>bn_bh_ra_ukaar</key>
	<string>bn_bh_ra_ukaar.glif</string>
	<key>bn_bh_ra_uukaar</key>
	<string>bn_bh_ra_uukaar.glif</string>
	<key>bn_bha</key>
	<string>bn_bha.glif</string>
	<key>bn_bisarga</key>
	<string>bn_bisarga.glif</string>
	<key>bn_c_ca</key>
	<string>bn_c_ca.glif</string>
	<key>bn_c_ch_ba</key>
	<string>bn_c_ch_ba.glif</string>
	<key>bn_c_ch_ra</key>
	<string>bn_c_ch_ra.glif</string>
	<key>bn_c_cha</key>
	<string>bn_c_cha.glif</string>
	<key>bn_c_nya</key>
	<string>bn_c_nya.glif</string>
	<key>bn_c_ra</key>
	<string>bn_c_ra.glif</string>
	<key>bn_ca</key>
	<string>bn_ca.glif</string>
	<key>bn_ch_ra</key>
	<string>bn_ch_ra.glif</string>
	<key>bn_cha</key>
	<string>bn_cha.glif</string>
	<key>bn_chandrabindu</key>
	<string>bn_chandrabindu.glif</string>
	<key>bn_currency1</key>
	<string>bn_currency1.glif</string>
	<key>bn_currency16</key>
	<string>bn_currency16.glif</string>
	<key>bn_currency2</key>
	<string>bn_currency2.glif</string>
	<key>bn_currency3</key>
	<string>bn_currency3.glif</string>
	<key>bn_currency4</key>
	<string>bn_currency4.glif</string>
	<key>bn_currencyless</key>
	<string>bn_currencyless.glif</string>
	<key>bn_d_ba</key>
	<string>bn_d_ba.glif</string>
	<key>bn_d_bh_ra</key>
	<string>bn_d_bh_ra.glif</string>
	<key>bn_d_bha</key>
	<string>bn_d_bha.glif</string>
	<key>bn_d_d_ba</key>
	<string>bn_d_d_ba.glif</string>
	<key>bn_d_da</key>
	<string>bn_d_da.glif</string>
	<key>bn_d_dh_ba</key>
	<string>bn_d_dh_ba.glif</string>
	<key>bn_d_dha</key>
	<string>bn_d_dha.glif</string>
	<key>bn_d_ga</key>
	<string>bn_d_ga.glif</string>
	<key>bn_d_gha</key>
	<string>bn_d_gha.glif</string>
	<key>bn_d_ma</key>
	<string>bn_d_ma.glif</string>
	<key>bn_d_na</key>
	<string>bn_d_na.glif</string>
	<key>bn_d_ra</key>
	<string>bn_d_ra.glif</string>
	<key>bn_d_ra_ukaar</key>
	<string>bn_d_ra_ukaar.glif</string>
	<key>bn_d_ra_uukaar</key>
	<string>bn_d_ra_uukaar.glif</string>
	<key>bn_da</key>
	<string>bn_da.glif</string>
	<key>bn_danda</key>
	<string>bn_danda.glif</string>
	<key>bn_dd_dda</key>
	<string>bn_dd_dda.glif</string>
	<key>bn_dd_ra</key>
	<string>bn_dd_ra.glif</string>
	<key>bn_dda</key>
	<string>bn_dda.glif</string>
	<key>bn_ddh_ra</key>
	<string>bn_ddh_ra.glif</string>
	<key>bn_ddha</key>
	<string>bn_ddha.glif</string>
	<key>bn_dh_ba</key>
	<string>bn_dh_ba.glif</string>
	<key>bn_dh_na</key>
	<string>bn_dh_na.glif</string>
	<key>bn_dh_ra</key>
	<string>bn_dh_ra.glif</string>
	<key>bn_dh_ra_ukaar</key>
	<string>bn_dh_ra_ukaar.glif</string>
	<key>bn_dh_ra_uukaar</key>
	<string>bn_dh_ra_uukaar.glif</string>
	<key>bn_dha</key>
	<string>bn_dha.glif</string>
	<key>bn_doubledanda</key>
	<string>bn_doubledanda.glif</string>
	<key>bn_e</key>
	<string>bn_e.glif</string>
	<key>bn_eight</key>
	<string>bn_eight.glif</string>
	<key>bn_eight.pnum</key>
	<string>bn_eight.pnum.glif</string>
	<key>bn_ekaar</key>
	<string>bn_ekaar.glif</string>
	<key>bn_ekaar.b</key>
	<string>bn_ekaar.b.glif</string>
	<key>bn_ekaar.init</key>
	<string>bn_ekaar.init.glif</string>
	<key>bn_five</key>
	<string>bn_five.glif</string>
	<key>bn_five.pnum</key>
	<string>bn_five.pnum.glif</string>
	<key>bn_four</key>
	<string>bn_four.glif</string>
	<key>bn_four.pnum</key>
	<string>bn_four.pnum.glif</string>
	<key>bn_g_ba</key>
	<string>bn_g_ba.glif</string>
	<key>bn_g_da</key>
	<string>bn_g_da.glif</string>
	<key>bn_g_dh_ba</key>
	<string>bn_g_dh_ba.glif</string>
	<key>bn_g_dh_ra</key>
	<string>bn_g_dh_ra.glif</string>
	<key>bn_g_dha</key>
	<string>bn_g_dha.glif</string>
	<key>bn_g_ga</key>
	<string>bn_g_ga.glif</string>
	<key>bn_g_la</key>
	<string>bn_g_la.glif</string>
	<key>bn_g_ma</key>
	<string>bn_g_ma.glif</string>
	<key>bn_g_na</key>
	<string>bn_g_na.glif</string>
	<key>bn_g_ra</key>
	<string>bn_g_ra.glif</string>
	<key>bn_g_ra_ukaar</key>
	<string>bn_g_ra_ukaar.glif</string>
	<key>bn_g_ra_uukaar</key>
	<string>bn_g_ra_uukaar.glif</string>
	<key>bn_ga</key>
	<string>bn_ga.glif</string>
	<key>bn_ga_ukaar</key>
	<string>bn_ga_ukaar.glif</string>
	<key>bn_gh_ba</key>
	<string>bn_gh_ba.glif</string>
	<key>bn_gh_na</key>
	<string>bn_gh_na.glif</string>
	<key>bn_gh_ra</key>
	<string>bn_gh_ra.glif</string>
	<key>bn_gha</key>
	<string>bn_gha.glif</string>
	<key>bn_h_ba</key>
	<string>bn_h_ba.glif</string>
	<key>bn_h_la</key>
	<string>bn_h_la.glif</string>
	<key>bn_h_ma</key>
	<string>bn_h_ma.glif</string>
	<key>bn_h_na</key>
	<string>bn_h_na.glif</string>
	<key>bn_h_nna</key>
	<string>bn_h_nna.glif</string>
	<key>bn_h_ra</key>
	<string>bn_h_ra.glif</string>
	<key>bn_h_yya</key>
	<string>bn_h_yya.glif</string>
	<key>bn_ha</key>
	<string>bn_ha.glif</string>
	<key>bn_ha_rikaar</key>
	<string>bn_ha_rikaar.glif</string>
	<key>bn_ha_ukaar</key>
	<string>bn_ha_ukaar.glif</string>
	<key>bn_halanth</key>
	<string>bn_halanth.glif</string>
	<key>bn_i</key>
	<string>bn_i.glif</string>
	<key>bn_ii</key>
	<string>bn_ii.glif</string>
	<key>bn_iikaar</key>
	<string>bn_iikaar.glif</string>
	<key>bn_iikaar.b</key>
	<string>bn_iikaar.b.glif</string>
	<key>bn_iikaar.fl</key>
	<string>bn_iikaar.fl.glif</string>
	<key>bn_iikaar.fl.b</key>
	<string>bn_iikaar.fl.b.glif</string>
	<key>bn_iikaar_reph</key>
	<string>bn_iikaar_reph.glif</string>
	<key>bn_iikaar_wi1</key>
	<string>bn_iikaar_wi1.glif</string>
	<key>bn_iikaar_wi1.b</key>
	<string>bn_iikaar_wi1.b.glif</string>
	<key>bn_iikaar_wi2</key>
	<string>bn_iikaar_wi2.glif</string>
	<key>bn_iikaar_wi2.b</key>
	<string>bn_iikaar_wi2.b.glif</string>
	<key>bn_ikaar</key>
	<string>bn_ikaar.glif</string>
	<key>bn_ikaar.b</key>
	<string>bn_ikaar.b.glif</string>
	<key>bn_ikaar.fl</key>
	<string>bn_ikaar.fl.glif</string>
	<key>bn_ikaar.fl.b</key>
	<string>bn_ikaar.fl.b.glif</string>
	<key>bn_ikaar_wi1</key>
	<string>bn_ikaar_wi1.glif</string>
	<key>bn_ikaar_wi1.b</key>
	<string>bn_ikaar_wi1.b.glif</string>
	<key>bn_ikaar_wi2</key>
	<string>bn_ikaar_wi2.glif</string>
	<key>bn_ikaar_wi2.b</key>
	<string>bn_ikaar_wi2.b.glif</string>
	<key>bn_isshar</key>
	<string>bn_isshar.glif</string>
	<key>bn_j_ba</key>
	<string>bn_j_ba.glif</string>
	<key>bn_j_j_ba</key>
	<string>bn_j_j_ba.glif</string>
	<key>bn_j_ja</key>
	<string>bn_j_ja.glif</string>
	<key>bn_j_jha</key>
	<string>bn_j_jha.glif</string>
	<key>bn_j_nya</key>
	<string>bn_j_nya.glif</string>
	<key>bn_j_ra</key>
	<string>bn_j_ra.glif</string>
	<key>bn_ja</key>
	<string>bn_ja.glif</string>
	<key>bn_jh_ra</key>
	<string>bn_jh_ra.glif</string>
	<key>bn_jha</key>
	<string>bn_jha.glif</string>
	<key>bn_k_ba</key>
	<string>bn_k_ba.glif</string>
	<key>bn_k_ka</key>
	<string>bn_k_ka.glif</string>
	<key>bn_k_la</key>
	<string>bn_k_la.glif</string>
	<key>bn_k_ma</key>
	<string>bn_k_ma.glif</string>
	<key>bn_k_na</key>
	<string>bn_k_na.glif</string>
	<key>bn_k_ra</key>
	<string>bn_k_ra.glif</string>
	<key>bn_k_ra.alt01</key>
	<string>bn_k_ra.alt01.glif</string>
	<key>bn_k_sa</key>
	<string>bn_k_sa.glif</string>
	<key>bn_k_ss_ba</key>
	<string>bn_k_ss_ba.glif</string>
	<key>bn_k_ss_ma</key>
	<string>bn_k_ss_ma.glif</string>
	<key>bn_k_ss_nna</key>
	<string>bn_k_ss_nna.glif</string>
	<key>bn_k_ss_ra</key>
	<string>bn_k_ss_ra.glif</string>
	<key>bn_k_ssa</key>
	<string>bn_k_ssa.glif</string>
	<key>bn_k_t_ba</key>
	<string>bn_k_t_ba.glif</string>
	<key>bn_k_t_ra</key>
	<string>bn_k_t_ra.glif</string>
	<key>bn_k_ta</key>
	<string>bn_k_ta.glif</string>
	<key>bn_k_tt_ra</key>
	<string>bn_k_tt_ra.glif</string>
	<key>bn_k_tta</key>
	<string>bn_k_tta.glif</string>
	<key>bn_ka</key>
	<string>bn_ka.glif</string>
	<key>bn_kh_ba</key>
	<string>bn_kh_ba.glif</string>
	<key>bn_kh_ra</key>
	<string>bn_kh_ra.glif</string>
	<key>bn_kha</key>
	<string>bn_kha.glif</string>
	<key>bn_khanda_ta</key>
	<string>bn_khanda_ta.glif</string>
	<key>bn_l_ba</key>
	<string>bn_l_ba.glif</string>
	<key>bn_l_da</key>
	<string>bn_l_da.glif</string>
	<key>bn_l_dda</key>
	<string>bn_l_dda.glif</string>
	<key>bn_l_ga</key>
	<string>bn_l_ga.glif</string>
	<key>bn_l_ga_ukaar</key>
	<string>bn_l_ga_ukaar.glif</string>
	<key>bn_l_ka</key>
	<string>bn_l_ka.glif</string>
	<key>bn_l_la</key>
	<string>bn_l_la.glif</string>
	<key>bn_l_ma</key>
	<string>bn_l_ma.glif</string>
	<key>bn_l_pa</key>
	<string>bn_l_pa.glif</string>
	<key>bn_l_pha</key>
	<string>bn_l_pha.glif</string>
	<key>bn_l_ra</key>
	<string>bn_l_ra.glif</string>
	<key>bn_l_sa</key>
	<string>bn_l_sa.glif</string>
	<key>bn_l_tta</key>
	<string>bn_l_tta.glif</string>
	<key>bn_la</key>
	<string>bn_la.glif</string>
	<key>bn_li</key>
	<string>bn_li.glif</string>
	<key>bn_likaar</key>
	<string>bn_likaar.glif</string>
	<key>bn_lli</key>
	<string>bn_lli.glif</string>
	<key>bn_llikaar</key>
	<string>bn_llikaar.glif</string>
	<key>bn_m_ba</key>
	<string>bn_m_ba.glif</string>
	<key>bn_m_bh_ra</key>
	<string>bn_m_bh_ra.glif</string>
	<key>bn_m_bha</key>
	<string>bn_m_bha.glif</string>
	<key>bn_m_la</key>
	<string>bn_m_la.glif</string>
	<key>bn_m_ma</key>
	<string>bn_m_ma.glif</string>
	<key>bn_m_na</key>
	<string>bn_m_na.glif</string>
	<key>bn_m_p_ra</key>
	<string>bn_m_p_ra.glif</string>
	<key>bn_m_pa</key>
	<string>bn_m_pa.glif</string>
	<key>bn_m_pha</key>
	<string>bn_m_pha.glif</string>
	<key>bn_m_ra</key>
	<string>bn_m_ra.glif</string>
	<key>bn_ma</key>
	<string>bn_ma.glif</string>
	<key>bn_n_ba</key>
	<string>bn_n_ba.glif</string>
	<key>bn_n_d_ba</key>
	<string>bn_n_d_ba.glif</string>
	<key>bn_n_d_ra</key>
	<string>bn_n_d_ra.glif</string>
	<key>bn_n_da</key>
	<string>bn_n_da.glif</string>
	<key>bn_n_dd_ra</key>
	<string>bn_n_dd_ra.glif</string>
	<key>bn_n_dda</key>
	<string>bn_n_dda.glif</string>
	<key>bn_n_dh_ba</key>
	<string>bn_n_dh_ba.glif</string>
	<key>bn_n_dh_ra</key>
	<string>bn_n_dh_ra.glif</string>
	<key>bn_n_dha</key>
	<string>bn_n_dha.glif</string>
	<key>bn_n_jha</key>
	<string>bn_n_jha.glif</string>
	<key>bn_n_k_ta</key>
	<string>bn_n_k_ta.glif</string>
	<key>bn_n_ma</key>
	<string>bn_n_ma.glif</string>
	<key>bn_n_na</key>
	<string>bn_n_na.glif</string>
	<key>bn_n_ra</key>
	<string>bn_n_ra.glif</string>
	<key>bn_n_sa</key>
	<string>bn_n_sa.glif</string>
	<key>bn_n_t_ba</key>
	<string>bn_n_t_ba.glif</string>
	<key>bn_n_t_ra</key>
	<string>bn_n_t_ra.glif</string>
	<key>bn_n_ta</key>
	<string>bn_n_ta.glif</string>
	<key>bn_n_tha</key>
	<string>bn_n_tha.glif</string>
	<key>bn_n_tt_ra</key>
	<string>bn_n_tt_ra.glif</string>
	<key>bn_n_tta</key>
	<string>bn_n_tta.glif</string>
	<key>bn_n_ttha</key>
	<string>bn_n_ttha.glif</string>
	<key>bn_na</key>
	<string>bn_na.glif</string>
	<key>bn_ng_g_ra</key>
	<string>bn_ng_g_ra.glif</string>
	<key>bn_ng_ga</key>
	<string>bn_ng_ga.glif</string>
	<key>bn_ng_gh_ra</key>
	<string>bn_ng_gh_ra.glif</string>
	<key>bn_ng_gha</key>
	<string>bn_ng_gha.glif</string>
	<key>bn_ng_k_ra</key>
	<string>bn_ng_k_ra.glif</string>
	<key>bn_ng_k_ss_ra</key>
	<string>bn_ng_k_ss_ra.glif</string>
	<key>bn_ng_k_ssa</key>
	<string>bn_ng_k_ssa.glif</string>
	<key>bn_ng_ka</key>
	<string>bn_ng_ka.glif</string>
	<key>bn_ng_kha</key>
	<string>bn_ng_kha.glif</string>
	<key>bn_ng_ma</key>
	<string>bn_ng_ma.glif</string>
	<key>bn_ng_ra</key>
	<string>bn_ng_ra.glif</string>
	<key>bn_nga</key>
	<string>bn_nga.glif</string>
	<key>bn_nine</key>
	<string>bn_nine.glif</string>
	<key>bn_nine.pnum</key>
	<string>bn_nine.pnum.glif</string>
	<key>bn_nn_ba</key>
	<string>bn_nn_ba.glif</string>
	<key>bn_nn_dd_ra</key>
	<string>bn_nn_dd_ra.glif</string>
	<key>bn_nn_dda</key>
	<string>bn_nn_dda.glif</string>
	<key>bn_nn_dda.alt01</key>
	<string>bn_nn_dda.alt01.glif</string>
	<key>bn_nn_ddha</key>
	<string>bn_nn_ddha.glif</string>
	<key>bn_nn_ma</key>
	<string>bn_nn_ma.glif</string>
	<key>bn_nn_nna</key>
	<string>bn_nn_nna.glif</string>
	<key>bn_nn_ra</key>
	<string>bn_nn_ra.glif</string>
	<key>bn_nn_tta</key>
	<string>bn_nn_tta.glif</string>
	<key>bn_nn_ttha</key>
	<string>bn_nn_ttha.glif</string>
	<key>bn_nna</key>
	<string>bn_nna.glif</string>
	<key>bn_nukta</key>
	<string>bn_nukta.glif</string>
	<key>bn_ny_ca</key>
	<string>bn_ny_ca.glif</string>
	<key>bn_ny_cha</key>
	<string>bn_ny_cha.glif</string>
	<key>bn_ny_ja</key>
	<string>bn_ny_ja.glif</string>
	<key>bn_ny_jha</key>
	<string>bn_ny_jha.glif</string>
	<key>bn_ny_ra</key>
	<string>bn_ny_ra.glif</string>
	<key>bn_nya</key>
	<string>bn_nya.glif</string>
	<key>bn_o</key>
	<string>bn_o.glif</string>
	<key>bn_okaar</key>
	<string>bn_okaar.glif</string>
	<key>bn_one</key>
	<string>bn_one.glif</string>
	<key>bn_one.pnum</key>
	<string>bn_one.pnum.glif</string>
	<key>bn_p_la</key>
	<string>bn_p_la.glif</string>
	<key>bn_p_na</key>
	<string>bn_p_na.glif</string>
	<key>bn_p_pa</key>
	<string>bn_p_pa.glif</string>
	<key>bn_p_ra</key>
	<string>bn_p_ra.glif</string>
	<key>bn_p_ra_ukaar</key>
	<string>bn_p_ra_ukaar.glif</string>
	<key>bn_p_ra_uukaar</key>
	<string>bn_p_ra_uukaar.glif</string>
	<key>bn_p_sa</key>
	<string>bn_p_sa.glif</string>
	<key>bn_p_t_ra</key>
	<string>bn_p_t_ra.glif</string>
	<key>bn_p_ta</key>
	<string>bn_p_ta.glif</string>
	<key>bn_p_tta</key>
	<string>bn_p_tta.glif</string>
	<key>bn_pa</key>
	<string>bn_pa.glif</string>
	<key>bn_ph_la</key>
	<string>bn_ph_la.glif</string>
	<key>bn_ph_ra</key>
	<string>bn_ph_ra.glif</string>
	<key>bn_ph_tta</key>
	<string>bn_ph_tta.glif</string>
	<key>bn_pha</key>
	<string>bn_pha.glif</string>
	<key>bn_ra</key>
	<string>bn_ra.glif</string>
	<key>bn_ra_phala</key>
	<string>bn_ra_phala.glif</string>
	<key>bn_ra_ukaar</key>
	<string>bn_ra_ukaar.glif</string>
	<key>bn_ra_uukaar</key>
	<string>bn_ra_uukaar.glif</string>
	<key>bn_reph</key>
	<string>bn_reph.glif</string>
	<key>bn_rha</key>
	<string>bn_rha.glif</string>
	<key>bn_ri</key>
	<string>bn_ri.glif</string>
	<key>bn_rikaar</key>
	<string>bn_rikaar.glif</string>
	<key>bn_rr_ga</key>
	<string>bn_rr_ga.glif</string>
	<key>bn_rra</key>
	<string>bn_rra.glif</string>
	<key>bn_rri</key>
	<string>bn_rri.glif</string>
	<key>bn_rrikaar</key>
	<string>bn_rrikaar.glif</string>
	<key>bn_rupeemark</key>
	<string>bn_rupeemark.glif</string>
	<key>bn_rupeesign</key>
	<string>bn_rupeesign.glif</string>
	<key>bn_s_ba</key>
	<string>bn_s_ba.glif</string>
	<key>bn_s_k_ba</key>
	<string>bn_s_k_ba.glif</string>
	<key>bn_s_k_ra</key>
	<string>bn_s_k_ra.glif</string>
	<key>bn_s_ka</key>
	<string>bn_s_ka.glif</string>
	<key>bn_s_kha</key>
	<string>bn_s_kha.glif</string>
	<key>bn_s_la</key>
	<string>bn_s_la.glif</string>
	<key>bn_s_ma</key>
	<string>bn_s_ma.glif</string>
	<key>bn_s_na</key>
	<string>bn_s_na.glif</string>
	<key>bn_s_p_la</key>
	<string>bn_s_p_la.glif</string>
	<key>bn_s_p_ra</key>
	<string>bn_s_p_ra.glif</string>
	<key>bn_s_pa</key>
	<string>bn_s_pa.glif</string>
	<key>bn_s_pha</key>
	<string>bn_s_pha.glif</string>
	<key>bn_s_ra</key>
	<string>bn_s_ra.glif</string>
	<key>bn_s_ra_ukaar</key>
	<string>bn_s_ra_ukaar.glif</string>
	<key>bn_s_ra_uukaar</key>
	<string>bn_s_ra_uukaar.glif</string>
	<key>bn_s_t_ba</key>
	<string>bn_s_t_ba.glif</string>
	<key>bn_s_t_ra</key>
	<string>bn_s_t_ra.glif</string>
	<key>bn_s_ta</key>
	<string>bn_s_ta.glif</string>
	<key>bn_s_ta_ukaar</key>
	<string>bn_s_ta_ukaar.glif</string>
	<key>bn_s_tha</key>
	<string>bn_s_tha.glif</string>
	<key>bn_s_tt_ra</key>
	<string>bn_s_tt_ra.glif</string>
	<key>bn_s_tta</key>
	<string>bn_s_tta.glif</string>
	<key>bn_sa</key>
	<string>bn_sa.glif</string>
	<key>bn_seven</key>
	<string>bn_seven.glif</string>
	<key>bn_seven.pnum</key>
	<string>bn_seven.pnum.glif</string>
	<key>bn_sh_ba</key>
	<string>bn_sh_ba.glif</string>
	<key>bn_sh_ca</key>
	<string>bn_sh_ca.glif</string>
	<key>bn_sh_cha</key>
	<string>bn_sh_cha.glif</string>
	<key>bn_sh_la</key>
	<string>bn_sh_la.glif</string>
	<key>bn_sh_ma</key>
	<string>bn_sh_ma.glif</string>
	<key>bn_sh_na</key>
	<string>bn_sh_na.glif</string>
	<key>bn_sh_ra</key>
	<string>bn_sh_ra.glif</string>
	<key>bn_sh_ra_iikaar</key>
	<string>bn_sh_ra_iikaar.glif</string>
	<key>bn_sh_ra_ukaar</key>
	<string>bn_sh_ra_ukaar.glif</string>
	<key>bn_sh_ra_uukaar</key>
	<string>bn_sh_ra_uukaar.glif</string>
	<key>bn_sh_tta</key>
	<string>bn_sh_tta.glif</string>
	<key>bn_sha</key>
	<string>bn_sha.glif</string>
	<key>bn_sha_ukaar</key>
	<string>bn_sha_ukaar.glif</string>
	<key>bn_six</key>
	<string>bn_six.glif</string>
	<key>bn_six.pnum</key>
	<string>bn_six.pnum.glif</string>
	<key>bn_ss_ba</key>
	<string>bn_ss_ba.glif</string>
	<key>bn_ss_k_ra</key>
	<string>bn_ss_k_ra.glif</string>
	<key>bn_ss_ka</key>
	<string>bn_ss_ka.glif</string>
	<key>bn_ss_ma</key>
	<string>bn_ss_ma.glif</string>
	<key>bn_ss_nna</key>
	<string>bn_ss_nna.glif</string>
	<key>bn_ss_p_ra</key>
	<string>bn_ss_p_ra.glif</string>
	<key>bn_ss_pa</key>
	<string>bn_ss_pa.glif</string>
	<key>bn_ss_pha</key>
	<string>bn_ss_pha.glif</string>
	<key>bn_ss_ra</key>
	<string>bn_ss_ra.glif</string>
	<key>bn_ss_tt_ra</key>
	<string>bn_ss_tt_ra.glif</string>
	<key>bn_ss_tta</key>
	<string>bn_ss_tta.glif</string>
	<key>bn_ss_ttha</key>
	<string>bn_ss_ttha.glif</string>
	<key>bn_ssa</key>
	<string>bn_ssa.glif</string>
	<key>bn_t_ba</key>
	<string>bn_t_ba.glif</string>
	<key>bn_t_ma</key>
	<string>bn_t_ma.glif</string>
	<key>bn_t_na</key>
	<string>bn_t_na.glif</string>
	<key>bn_t_ra</key>
	<string>bn_t_ra.glif</string>
	<key>bn_t_ra.alt01</key>
	<string>bn_t_ra.alt01.glif</string>
	<key>bn_t_ra_ukaar</key>
	<string>bn_t_ra_ukaar.glif</string>
	<key>bn_t_ra_uukaar</key>
	<string>bn_t_ra_uukaar.glif</string>
	<key>bn_t_t_ba</key>
	<string>bn_t_t_ba.glif</string>
	<key>bn_t_t_ra</key>
	<string>bn_t_t_ra.glif</string>
	<key>bn_t_ta</key>
	<string>bn_t_ta.glif</string>
	<key>bn_t_tha</key>
	<string>bn_t_tha.glif</string>
	<key>bn_ta</key>
	<string>bn_ta.glif</string>
	<key>bn_th_ba</key>
	<string>bn_th_ba.glif</string>
	<key>bn_th_la</key>
	<string>bn_th_la.glif</string>
	<key>bn_th_ra</key>
	<string>bn_th_ra.glif</string>
	<key>bn_th_ra_ukaar</key>
	<string>bn_th_ra_ukaar.glif</string>
	<key>bn_th_ra_uukaar</key>
	<string>bn_th_ra_uukaar.glif</string>
	<key>bn_tha</key>
	<string>bn_tha.glif</string>
	<key>bn_three</key>
	<string>bn_three.glif</string>
	<key>bn_three.pnum</key>
	<string>bn_three.pnum.glif</string>
	<key>bn_tt_ba</key>
	<string>bn_tt_ba.glif</string>
	<key>bn_tt_ra</key>
	<string>bn_tt_ra.glif</string>
	<key>bn_tt_tta</key>
	<string>bn_tt_tta.glif</string>
	<key>bn_tta</key>
	<string>bn_tta.glif</string>
	<key>bn_tth_ra</key>
	<string>bn_tth_ra.glif</string>
	<key>bn_ttha</key>
	<string>bn_ttha.glif</string>
	<key>bn_two</key>
	<string>bn_two.glif</string>
	<key>bn_two.pnum</key>
	<string>bn_two.pnum.glif</string>
	<key>bn_u</key>
	<string>bn_u.glif</string>
	<key>bn_ukaar</key>
	<string>bn_ukaar.glif</string>
	<key>bn_uu</key>
	<string>bn_uu.glif</string>
	<key>bn_uukaar</key>
	<string>bn_uukaar.glif</string>
	<key>bn_y_ra</key>
	<string>bn_y_ra.glif</string>
	<key>bn_ya</key>
	<string>bn_ya.glif</string>
	<key>bn_ya_phala</key>
	<string>bn_ya_phala.glif</string>
	<key>bn_yya</key>
	<string>bn_yya.glif</string>
	<key>bn_zero</key>
	<string>bn_zero.glif</string>
	<key>bn_zero.pnum</key>
	<string>bn_zero.pnum.glif</string>
</dict>
</plist>
